 *{
        padding:0;
        margin:0;
    }

body{
    font-family: "Young Serif", serif;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;

}
.container{
    padding: 50px;
}

.section-two{
    margin-top: 20px;
}

.section-two__desc{
    margin-top: 10px;
}
.section-three{
    background-color:aqua;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display:inline-block ;
    height: 200px;
    vertical-align: top;
}
li{
    list-style: none;
}
.section-four{
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    height: 200px;
}
li{
    list-style: none;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section-1{
    background-color: blueviolet;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.section-2{
    background-color: black;
    color: white;
    display: block;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}
.section-3{
    background-color: aquamarine;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    width: 250px;
    padding: 20px;
}